*{
  display:block;
}

nav{
  border-radius: 0px 0px 10px 10px;
  margin:auto;
  width:98%;
}

.checkout{
  cursor:pointer;
  text-align: center;
  border-radius: 20px;
  margin-right:25px;
  padding:9px;
  width:35px;
  height:35px;
  transition-duration: 0.3s;
  text-decoration: none;
}


.navbar-brand{
  font-family: 'Sedgwick Ave', cursive;
  color:rgb(196, 1, 214);
  text-shadow: 2px 2px #424242;

}

.navbar-brand:hover{
  color:rgb(196, 1, 214);
}

.nav-link{
  font-family: monospace;
  font-size:17px;
}

.checkout::before {
  position: absolute;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.checkout:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.checkout:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}



