
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">DropShipping</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
      </ul>
      <a routerLink="/cart" class="checkout"><i class="fa fa-shopping-cart">&nbsp;</i></a>&nbsp;
    </div>
  </div>
</nav>
