#myPaypalButtons {
  max-width:250px;
  margin-left:270px;
  }

  .wrapper{
    background-color:White;
    border-radius: 5px;
    margin: auto;
    width: 40%;
    /* width:780px;
    margin:0;
    margin-left:350px; */
    text-align: center;
  }


